@media (max-width: 425px) {
  body {
    width: 100%;
  }
  #main {
    height: 190vh;
  }
  .logo{
    margin-left: 0;
  }
  .generator {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #password {
    height: 60vh;
  }

  .password {
    width: 100%;
    height: 50%;
  }
  .password h4 {
    font-size: smaller;
  }
  #passw {
    padding: 10px 0;
  }
  .pass input {
    margin: 0;

    font-size: small;
  }
  .pass button {
    margin: 0 10px;
  }
  #generateBtn,
  #copyBtn {
    font-size: small;
  }
  #tips {
    width: 100%;
    height: 100vh;
  }
  .saveti {
    width: 30%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
  }
  .tips {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card1,
  .card2,
  .card3 {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }
  .card1 p,
  .card2 p,
  .card3 p {
    font-size: small;
  }
  .card1 h4,
  .card2 h4,
  .card3 h4 {
    font-size: medium;
  }
  #footer {
    font-size: small;
  }
}
