@media (max-width: 425px) {
  #main {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    width: 150%;
  }
  .text p{
    font-size: medium;

  }
  #text {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #photo {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .s-gornji,
  .s-donji {
    width: 100%;
    font-size: medium;

    height: 40%;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .social-media a {
    margin: 10px;
  }
  #footer {
    width: 150%;
  }
}
