@media (max-width: 425px) {
  #main {
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .important {
    width: 100%;
    height: 70vh;
  }
  .imp-text {
    width: 100%;
    height: 60vh;
    font-size:12px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .services {
    width: 100%;
    display: flex;
  }
  .service {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size:12px;

  }
  .s-1 img, .s-3 img{
    margin-left: 0;
  }
  .s-2 img{
    margin-right: 0;
  }
  #footer {
    font-size: small;
  }
}
